* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 70%;
    font-family: 'Roboto Mono', sans-serif;
}



/* ------ HEADER ------ */
body {
    background-color: #7BF378;
    font-family: 'Roboto Mono', 'Victor Mono', 'Inconsolata', monospace;
    color: #000000;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 0%;
    width: 100%;
}

/*
.box001 {
    margin: 0%;
    padding: 0%;
}

.nav-bar {
    margin: 0%;
    padding: 0%;
}
*/

#tab {
    /* background-color: #dfffd8; */
    background-color: #FFFFFF;
    color: #FFFFFF;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    border: 1px dashed #000000;
    border-bottom: 0px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 1% 2% 1% 2%;
    margin-top: calc(15px + 1.5625vw);
    margin-left: calc(15px + 1.5625vw);
    margin-right: calc(15px + 1.5625vw);

}

#billboard {
    display: flex;
    flex-direction: column;
 /*   max-width: 100%; */
    padding-top: calc(15px + 1.5625vw);
    padding-left: 0px;
    margin-left: 0px;
    margin-bottom: calc(15px + 1.5625vw);
}

.postit {
    flex-direction: row;
    flex-grow: 0.1;
    writing-mode: vertical-lr;
    text-align: justify;
    color: #000000;
    writing-mode: horizontal-tb;
    align-items: flex-start;
    padding: 0.8rem;
    border-radius: 0 15px 15px 0;
    border-bottom: none;
     /*   margin-bottom: 0%;
    display: flex;
    align-items: center;
    padding-top: 5vh;
    padding-bottom: 2vh;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; */
}

a {
    font-size: 1.2em;
    font-weight: 400;
}

.blue {
    background-color: #3b81eb;
    border-right: 30px solid #2171e5;
}

.blue:hover {
    background-color: #6296e4;
    color: #000000;
}

.yellow {
    background-color: #f4ff75;
    border-right: 30px solid #F4F755;
}

.yellow:hover {
    background-color: lemonchiffon;
    color: #000000;
}

.pink {
    background-color: #fa86cd; 
    border-right: 30px solid #f15bb5;
}

.pink:hover {
    background-color: rgba(255, 181, 209, 0.995);
    color: #000000;
}

.purple {
    background-color: #E082FF;
    border-right: 30px solid #D969ff;
}

.purple:hover {
    background-color: plum;
    color: #000000;
}
*/

/* ----- HORIZONTAL RULE ----*/
hr {
    margin-bottom: calc(8px + 1.5625vw); 
    border: none;
    border-top: 2px dashed #e8a5ff;
}

/* ----- MAIN -----*/
.project {
    padding-left: calc(15px + 1.5625vw); 
    padding-right: calc(15px + 1.5625vw); 
    padding-bottom: calc(8px + 1.5625vw); 
    margin: calc(15px + 1.5625vw); 
    margin-top: 0px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px dashed #000000;
    background-color: #FFFFFF;
}

.project:nth-child(3) {
    border-top-right-radius: 15px;
}

/* ----- TEXT ----- */
h1 {
    font-size: 3rem;
    font-weight: 300;
    color: #000000;
    background-color: #B1F8A2;
    font-family: 'Roboto Mono', 'Victor Mono', 'Inconsolata';

}

h2 {
    font-size: 2.0rem;
    font-weight: 400;
    color: #000000;
    /* color: #2171e5; */
    padding-top: calc(8px + 1.5625vw);
    font-family: 'Roboto Mono', 'Victor Mono', 'Inconsolata';
}

h3 {
    font-size: 1.4rem;
    font-weight: 300;
    padding-top: calc(1px + 1.5625vw);
}

p {
    font-size: 1.0rem;
    margin-top: 10px;
    font-weight: 300;
}

/* ----- LINKS ----- */
a {
    color: #f15bb5;
    text-decoration: none;
    font-family: 'Roboto Mono';
    font-weight: 300;
    font-size: 2vh;
}


a:hover {
    color: #2171e5;
}

/* ----- LISTS ----- */
ul > li {
    display: inline-block;
}

.skills {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: 2rem;
}

.skills > li {
    margin-right: 1rem;
}

/* ----- PROJECT PREVIEW ----- */
.preview {
    padding: calc(8px + 1.5625vw);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 80%;
}

.ss-img > img {
    border: 0px solid #FFFFFF;
    border-radius: 20px;
    height: auto;
    filter: drop-shadow(0 0 0.75rem rgba(221, 160, 221, 0.597));
    }

    
#vss > img {
    border: 0px;
    max-width: 90%;
}


.ss-img:hover {
    opacity: 100%;
    cursor: pointer;
}

.ss-caplink {
    font-size: 1.1rem;
}

/* ----- FOOTER ----- */
footer {
    padding: calc(8px + 1.5625vw);
    font-size: 0.9rem;
}

.coming {
    color: #000000;
    font-weight: lighter;
    margin-bottom: 0.3rem;
}


@media only screen and (max-width: 480px) {

    html {
        font-size: 3vw;
    }

    a {
        font-size: 2em;
        font-weight: 300;
    }
}


 @media screen and (min-height: 600px) {
    html {
      font-size: 1.5vw;
    }
  }

@media only screen and (max-width: 768px) {
    body {
        align-items: flex-start;
        padding: 0px;
        margin: 0px;
    }

    html {
        font-size: 2.5vw;
    }

    #notice {
        padding: calc(20px + 1.5625vw);
        margin-left: calc(1px + 1.5625vw);
}

    #billboard {
        position: relative;
        display: flex;
        flex-direction: column;
        padding-top: 1rem;
        padding-left: 0px;
        margin-left: 0px;
    }

    .postit {
        writing-mode: horizontal-tb;
        text-align: justify;
        align-items: flex-start;
        padding: 1rem;
        margin: 0px;
        max-width: fit-content;
        border-radius: 0 15px 15px 0;
        border-right: 30px solid;
        border-bottom: none;
        min-width: fit-content;
        max-width: 100%;
    }

    .blue {
        border-right: 30px solid #2171e5;
    }

    .yellow {
        border-right: 30px solid #F4F755;
    }
    
    .pink {
        border-right: 30px solid #f15bb5;
    }

    .purple {
        border-right: 30px solid #D969ff;
    }

    a {
        font-size: 1.5em;
        font-weight: 350;
    }
}

/* ----- MEDIA QUERIES - OLD ----- */
/* 
@media only screen and (max-width: 800px) {

    .nav-menu {
        position: fixed;
        top: -100%;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content:center;
        background-color: #f2edd1;
        width: 70%;
        text-align: left;
        transition: 0.3s;
        border-radius: 0 0 15px 15px;
        z-index: 1;
    }

    .nav-menu.active {
        top: 0;
    }

    .nav-item {
        margin: 0rem;
        padding: 1rem;
    }

    .nav-link {
        color: #2171e5;
        font-size: 2rem;
        letter-spacing: 0.2ch;
    }

    .nav-link:hover {
        color: #184fa2;
    }
    
    .hamburger {
        display: block;
        cursor: pointer;
        z-index: 2;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
        color:#FCF755;
        background-color: #2171e5;
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
        color:#FCF755;
        background-color: #2171e5;
    }

    .nav-item:nth-child(odd) {
        background-color: #ffee90;
    }

    .nav-link > .flor-larger {
        margin-left: 1rem;
        color: #e8a5ff;
    }
}
*/


/* ----- SYMBOLS - OLD -----*/
/* .flor-larger {
    font-size: larger;
}
*/