body {
	background: #FFFFFF;
	text-align: center;
  font-family: 'Inconsolata';
}

.intro {
	margin: 30px 0px;
	font-weight: bold;
}


h1 {
	color: #ffc9e4;
  text-transform: lowercase;
  font-size: 5em;
	font-weight: 800;
  font-family: 'Inconsolata';
  margin: 0px auto 10px auto;
}

p {
	font-weight: 400;
}

#first {
	margin-top: 10px;
	color: #000000;
}

#second {
	color: #000000;

}

#third {
	color: #000000;
	margin-bottom: 30px;
}

#enter {
	border: 1px solid #000000;
	padding: 5px 15px;
	border-radius: 5px;
	color: #ffc9e4;
	background-color: #000000;
	transition: all 0.75s ease;
	-webkit-transition: all 0.75s ease;
	-moz-transition: all 0.75s ease;
	-ms-transition: all 0.75s ease;
	-o-transition: all 0.75 ease;
	font-weight: normal;
}

#enter:hover{
	background-color: #ffc9e4;
	color: #000000;
}

ul {
	text-align: left;
	margin-top: 20px;
}


li {
	list-style: none;
	padding: 10px 20px;
	color: #000000;
	text-transform: lowercase;
	font-weight: 400;
	border: 1px solid #000000;
	border-radius: 5px;
	margin-bottom: 10px;
	background: #ffc9e4;
	transition: all 0.75s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5 ease;
}

li:hover {
	border: 1px solid #51DF70;
  background-color: #000000;
  color: #FFFFFF;
}

li > button {
	font-weight: normal;
	background: none;
	border: none;
	float: right;
	color: #000000;
	font-weight: 400;
}

input {
	border: 1px solid #000000;
  border-radius: 5px;
	min-width: 55%;
	padding: 5px;
	color: #76CFE0;
}

::placeholder {
  color: #000000;
}

:focus {
 outline: 1px solid black;
}

#userInput {
  border: 1px solid black;
  color: black;
}

#userInput:focus {
  border: 0px solid black;
  background: #51DF70;
}

.done {
	background: #51DF70 !important;
	color: #000000;
}

.delete {
	display: none;
}

.green {
  color: #51DF70;
}
