* {
    margin: 0;
}

body {
    background-color: #AA80FF;
    margin-top: 20vh;
    margin-bottom: 5vh;
text-align: center;
    font-family: 'Roboto Mono', 'Inconsolata', 'IBM Flex Mono', 'Courier New', monospace;
}