body {
    background: #FFFFFF;
    font-size: 16px;
    font-family: 'Roboto', 'Inconsolata', sans-serif;
    margin: 0%;
}

#nav-block {
background-color: #0F47D4;
color: #F7CBE3;
font-family: Arial, Helvetica, sans-serif;
font-size: 2rem;
font-weight: 500;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    text-transform: uppercase;
}

#nav-bar > a {
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    font-weight: 200;
    letter-spacing: 0.2ch;
    text-decoration: underline;
    padding: 1rem;
}

#banner-img {
    display: block;
    justify-content: flex-start;
    margin: 0px auto;
    max-width: 80%;
}

main {
    margin-left: 1rem;
    margin-right: 1rem;
}

#welcome {
    display: block;
    padding-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#tagline {
    font-style: italic;
}

#products {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    max-width: 90%;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #0000FF;
    font-size: 1.8rem;
    font-style: italic;
    border: 1px solid #f00;
    padding: 2rem;
    margin: 1rem;
}

.item > img {
    margin: 1rem;
}

@media only screen and (max-width: 800px) {
    #products {
        flex-direction: column;
    }
}