* {
    font-family: 'Roboto Mono', monospace;
    margin: 0px;
}

body {
    background-color: #FFF4D8;
    color: #484E55;
}

h1 {
    font-family: 'Roboto Mono', monospace;
}

/* Styling for animation container */
#breathbox {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 10%;
}

/* Animation */
#breath {
    z-index: 1;
    position: sticky;
    text-align: center;
    background-color: #38BB8F;
    border: 1px solid #000000;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    padding: 10%;
    background-color: #38BB8F;
    animation-name: breath;
    animation-delay: 0s;
    animation-duration: 10s;
    transition: all 5s ease-in-out;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#inhale-exhale {
    font-size: 1.1rem;
    margin-top: 1rem;
    animation-name: breathInstruction;
    animation-delay: 0s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#inhale-exhale::before {
    position: relative;
}

#inhale-exhale::after {
    position: relative;
    content: "exhale";
    animation: breathInstruction 10s linear infinite;
    transition: all 5s ease-in-out;
}

@keyframes breath {
    0% {
        transform: scale(0);
    }

    25% {
        transform: scale(0.5);
    }

    40% {
        transform: scale(0.9);
        background-color: #FBC29F;
    }

    50% {
        transform: scale(1.0);
        background-color: #FBC29F;
    }

    60% {
        transform: scale(0.9);
    }

    75% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(0);
        background-color:#38BB8F;
    }
    }

@keyframes breathInstruction {
    0% {        content: "inhale";
        filter: hue-rotate(360deg);}
    10% {        content: "inhale";}
    20% {        content: "inhale";}
    30% {        content: "inhale";}
    45% {        content: "hold";}
    50% {        content: "hold"; letter-spacing: 0.5ch;}
    55% {        content: "exhale";}
    100% {        content: "exhale"; letter-spacing: 0.0ch;}
    }

/* Styling for footer menu */
footer {
    position: absolute;
    bottom: 1%;
    min-width: 95%;
    color: #484E55;
    border: 1px dashed #484E55;
    margin: 1px;
    padding: 3px;
}

#main-menu {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
} 

.shortcut {
    color: black;
}

/* NIGHT MODE */
.night-mode {
    background-color: #27292c;
    color: #FFF4D8;
}

#dayBtn {
    display: none;
}

.night-mode #dayBtn {
    display: inline;
}

.night-mode #nightBtn {
    display: none;
}

.night-mode li > a {
color: #78d0b2;
}

.night-mode .shortcut {
    color: #FFF4D8;
    }

.night-mode footer {
        color: #FFF4D8;
        border: 1px dashed #FFF4D8;
    }

.letter {
    background-color:#b1abab;
    padding: 1px 3px 1px 3px;
}

.zen-mode footer {
    border: 0px;
}
.zen-mode #mobile-menu {
    display: none;
}

.zen-mode #main-menu {
    display: none;
}

.zen-mode #exit-zen {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    height: 16px;
    opacity: 0.5;
    background-color: #FFF4D8;
    border-radius: 10px;
}

#mobile-menu {
    display: none;
}

#exit-zen {
    display: none;
} 

/* MEDIA QUERIES */
@media screen and (max-width: 700px) {

    #inhale-exhale {
        font-size: 1.3rem;
    }

    footer {
        border: 0px;
    }

    #main-menu {
        display: none;
    }

    #mobile-menu {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }

    #mobile-menu button {
        font-size: 1.05rem;
        height: 30px;
        min-width: 30%;
    }
    
    #mobile-menu button:active {
        background-color: #38BB8F;
    }

    #mobile-menu button:focus {
        background-color: #78d0b2;
    }

    #mobile-menu span {
        text-decoration: underline;
        text-decoration-color: #b1abab;
    }

    .night-mode footer {
        border: 0px;
    }

    .zen-mode #zen-menu {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: fit-content;
    }

    .zen-mode #exit-zen {
        width: 30px;
        height: 30px;
        border-radius: 15px;
    }

    .zen-mode #exit-zen:active {
        background-color: #38BB8F;
    }
}