
* {
    box-sizing: border-box;
}

    body {
    font-family: 'Roboto Mono', 'Inconsolata', monospace;
    margin: 0px;
}

#navbar {
    width: 40vw;
    margin-top: 10px;
    margin-left: 10px;
    position: fixed;
}

h1 {
    font-size: 3rem;
}

#title {
    border: 1px solid black;
    padding-left: 10px;
}

#nav-menu {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
    border: 1px solid black;
    background-color: #FFF4D8;
}

#nav-menu li {
    padding: 10px;
}

#nav-menu a {
    font-size: 1.3rem;
    color: #0CB074;
}

#main-doc {
    margin-left: 40vw;
    top: 0px;
    padding: 10px;
}

.main-section {
    border: 1px solid black;
    margin-bottom: 10px;
    padding-left: 10px;
    margin-left: 10px;
}

p {
    padding-right: 10px;
}

code {
    color: #0CB074;
}

@media screen and (max-width: 700px) {

    * {
        box-sizing: content-box;
        margin: 0px;
        padding: 0px;
    }

    body {
        padding-top: 15vh;
    }

    #navbar {
        top: 0;
        width: 100%;
        text-align: center;
        height: auto;
        background-color: #FFFFFF;
        z-index: 2;
        border: none;
        overflow: hidden;
        margin: 0px;
        padding: 0px;
    }    

    #title {
        border: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 0px;
        padding-top: 0px;
        margin-left: 10%;
        margin-right: 10%;
        height: fit-content;
        background-color: #FFFFFF;
        z-index: 2;

    }

    h1 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    h2 {
        margin-left: 5vw;
        font-size: 1.1rem;
    }

    #nav-menu {

        width: 100vw;
        height: fit-content;
        position: relative;
        margin: none;
        display: flex;
        flex-direction: row;
        justify-content: left;
        border: 0px;
    }

    #nav-menu li {
        z-index: 1;
        text-wrap: wrap;
    }

    #nav-menu a {
        font-size: 0.9rem;
        padding-left: 0px;
    }

    #nav-menu a:nth-last-child() {
        padding-right: 5vw;
    }

    #nav-menu a:hover {
        color: #0CB074;
    }

    #main-doc {
        margin-left: 0px;
        padding-right: 10px;
        width: 95vw;
        height: auto;
        position: relative;
        z-index: 0;
    }

    .main-section {
        margin-left: 0px;
        margin-top: 10px;
    }

    .main-section li {
        margin-left: 25px;
    }
}

@media screen and (max-width: 400px) {
    #nav-menu a {
        font-size: 0.8rem;
        padding: 2px;
        margin: 0px;
    }
}